#outerSpan{
  background-color: green;
  padding: 5px;
  border-radius: 5px;
}

#innerSpan{
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px !important;
    margin-left: 5px; 
}

p{
  font-size:24px !important;
}

